@import './global.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  background-color: var(--charcoal);
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 30px;
  display: flex;
  width: 65%;
  justify-content: space-between;
  padding: 20px 10px;
}

.hero,
.graphic {
  max-width: 50%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  margin: 25px 10px 25px 15px;
}

.graphic {
  margin: 10px;
}

.title {
  font-size: 3em;
  color: var(--slate);
  margin-left: 10px;
}

.label {
  font-weight: bold;
  font-size: .8em;
  margin: 0 15px;
}

.email,
.sub-btn {
  box-sizing: border-box;
  display: block;
  width: 95%;
  font-size: .8em;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: none;
  margin: 20px 10px;
}

.sub-btn {
  background-color: var(--slate);
  color: white;
  font-weight: bold;
  padding: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
  color: var(--attr-color);
}

.attribution a {
  color: var(--attr-color);
}

.attribution a:hover {
  color: var(--attr-color);
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 10px;
}

ul {
  line-height: 2.2em;
  margin: 20px 0;
}

li {
  list-style-image: url(/assets/images/icon-list.svg);
}
