@import './global.css';

body {
  font-size: 20px;
  background-color: var(--charcoal);
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  max-width: 35vw;
  border-radius: 30px;
  padding: 10px;
  margin: 0 auto;
}

.success-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.title {
  font-size: 3em;
  margin: 10px;

}

.dismiss-btn {
  box-sizing: border-box;
  display: block;
  background-color: var(--slate);
  color: white;
  font-size: .9em;
  font-weight: bold;
  min-width: 100%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: none;
  padding: 18px;
  margin-top: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
  color: var(--attr-color);
}

.attribution a {
  color: var(--attr-color);
}

.attribution a:hover {
  color: var(--attr-color);
  font-size: 16px;
}

p {
  margin: 10px;
line-height: 1.5;
}

img {
  max-width: 13%;
  align-self: flex-start;
}
