@import './global.css';

body {
  font-size: 20px;
  background-color: var(--charcoal);
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

img {
  max-width: 15%;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 40%;
  border-radius: 30px;
  padding: 25px;
}

.banner {
  font-size: 3em;
  margin: 10px;
}

.message {
  margin: 10px;
  line-height: 1.5;
}

.message {
  margin: 10px;
  line-height: 1.5;
}

.dismiss-btn {
  box-sizing: border-box;
  display: block;
  background-color: var(--slate);
  color: white;
  font-size: .9em;
  font-weight: bold;
  min-width: 100%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: none;
  padding: 18px;
  margin-top: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
  color: var(--attr-color);
}

.attribution a {
  color: var(--attr-color);
}

.attribution a:hover {
  color: var(--attr-color);
  font-size: 16px;
}
