body {
  padding: 20px 25px;
  background-color: rgba(39, 41, 63, 1);
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  border-radius: 25px;
  background-color: white;
  max-width: 60%;
}

.hero {
  max-width: 60%;
  padding: 20px;
}

.graphic {
  max-width: 30%;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
